:root {
    --background-gradient: linear-gradient(to top, #68EACC 0%, #8da8e3 100%);
    --text-color: #f41b55;
}

h1 {
    text-align: center;
    color: var(--text-color);
}

body {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: var(--background-gradient);
    background-repeat: no-repeat;
    background-position: center;
}
#search-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin-bottom: 10px;
}
#duration-input{
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;  
}

.todoList {
    list-style: none;
    padding: 0;
}

.todoList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    cursor: grab;
}
.todoList li:last-child {
    border-bottom: none;
  }
  
  .todoList li.draggable {
    cursor: move;
  }
  
.todoList li .task-details span {
    font-size: 1em; 
}
.todoList li .task-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.todoList li .task-duration {
    font-size: 10px;
    color: black;
    text-align: center; 
    flex: 1;
}

.todoList li.low-priority {
    background: lightgreen; 
}

.todoList li.medium-priority {
    background: lightgoldenrodyellow; 
}

.todoList li.high-priority {
    background: rgb(248, 119, 119);
}

.todoList li .ellipsis {
    cursor: pointer;
    font-size: 17px;
}

.inputField {
    display: flex;
    margin-bottom: 20px;
}

.inputField input, .inputField select {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
    width: 20px;
}

.inputField button {
    background: #ff5100;
    color: #fff;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 40px;
    margin-left: 10px;
}

.dropdown {
    position: absolute;
    display: none;
    background: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.dropdown a:hover {
    background: #007bff;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer button {
    background: #007bff;
    color: #0c0c0c;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#dark-mode-toggle {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

body.dark-mode {
    --background-gradient: linear-gradient(to top, white 0%, black 100%);

    --color:white;
    --text-color: #0d20f1;
}

body.dark-mode.todoList li.low-priority {
    background: lightgreen; 
}

body.dark-mode.todoList li.medium-priority {
    background: lightgoldenrodyellow; 
}

body.dark-mode.todoList li.high-priority {
    background: lightcoral;
}

.totalDuration {
    font-size: 0.5em;
    margin-bottom: 20px;
}

.subtask-form {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .subtask-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .subtask-form input[type="text"], .subtask-form textarea, .subtask-form select {
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
  }
  
  .subtask-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .subtask-form input[type="submit"]:hover {
    background-color: #3e8e41;
  }
.dropdown-menu {
  left: auto !important;
  right: 0 !important;
}

  
  .subtask-form {
    margin-top: 20px;
  }
  
  .subtask-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .subtask-form ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .subtask-form ul li:last-child {
    border-bottom: none;
  }
  .footer .dropdown {
    display: inline-block;
}

.footer .dropdown-menu {
    cursor: pointer;
}

  .completed {
      text-decoration: line-through;
      color: grey;
  }
